:root {
  --vp-c-white: #ffffff;
  --vp-c-black: #000000;
  --vp-c-gray: #8e8e93;
  --vp-c-text-light-1: rgba(60, 60, 67, 0.92);
  --vp-c-text-light-2: rgba(60, 60, 67, 0.7);
  --vp-c-text-light-3: rgba(60, 60, 67, 0.33);
  --vp-c-text-dark-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-dark-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-dark-3: rgba(235, 235, 245, 0.38);
  --vp-c-green: #1996bc;
  --vp-c-green-light: #0eb2e4;
  --vp-c-green-lighter: #0eb2e4;
  --vp-c-green-dark: #0eb2e4;
  --vp-c-green-darker: #0eb2e4;
  --vp-c-green-dimm-1: rgba(16, 185, 129, 0.05);
  --vp-c-green-dimm-2: rgba(16, 185, 129, 0.2);
  --vp-c-green-dimm-3: rgba(16, 185, 129, 0.5);
  --vp-c-yellow: #eab308;
  --vp-c-yellow-light: #facc15;
  --vp-c-yellow-lighter: #fde047;
  --vp-c-yellow-dark: #ca8a04;
  --vp-c-yellow-darker: #a16207;
  --vp-c-yellow-dimm-1: rgba(234, 179, 8, 0.05);
  --vp-c-yellow-dimm-2: rgba(234, 179, 8, 0.2);
  --vp-c-yellow-dimm-3: rgba(234, 179, 8, 0.5);
  --vp-c-red: #f43f5e;
  --vp-c-red-light: #fb7185;
  --vp-c-red-lighter: #fda4af;
  --vp-c-red-dark: #e11d48;
  --vp-c-red-darker: #be123c;
  --vp-c-red-dimm-1: rgba(244, 63, 94, 0.05);
  --vp-c-red-dimm-2: rgba(244, 63, 94, 0.2);
  --vp-c-red-dimm-3: rgba(244, 63, 94, 0.5);
  --vp-c-sponsor: #db2777;
}

body{font:.8em Arial,Helvetica,sans-serif;position:relative;z-index:0;margin:0;color:#000;background:#fff}wbr{display:inline-block}.b-statcounter{position:absolute;left:-9999px}html,body{height:100%;padding:0}.promo-page{position:relative;min-width:954px;min-height:100%;background-color:#f6f5f3;border:solid #fff;border-width:0 18px;font-size:15px;max-width:1404px;margin:0 auto}.promo-page__padder{height:18px}.promo-page__border{position:absolute;background-color:#fff}.promo-page__border_position_top{top:0;left:0;width:100%;height:18px}.promo-page__border_position_bottom{bottom:0;left:0;width:100%;height:18px}.promo-page__content{position:relative;z-index:1}.promo-page__section{position:relative;max-width:918px;margin:0 auto}.promo-button{font-family:'Arial',sans-serif;position:relative;display:inline-block;cursor:pointer;text-align:center;text-decoration:none!important;border:none;outline:0;background-color:#f9c400;background:-webkit-linear-gradient(top,#ffe025 0%,#f9c400 92%,#be8c05 100%);background:-moz-linear-gradient(top,#ffe025 0%,#f9c400 92%,#be8c05 100%);background:-o-linear-gradient(top,#ffe025 0%,#f9c400 92%,#be8c05 100%); }